<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="img/smile-4998846_960_720.webp" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<Style type="text/css">
/* Button 1  */
a.btInIsmynr1{margin:3px;height:30px auto;padding:5px 10px;color:#006894;background-color:#fff;border:3px solid #006894;float:none;display:inline-block;text-decoration:none;overflow:hidden;text-align:center;transition:all 0.2s ease;line-height:1.6;font-size:16px;font-family:'Kanit',sans-serif}
a.btInIsmynr1:hover{background-color:#006894;color:#fff}
@media only screen and(max-width:720px){btInIsmynr1:width:95%}
</style>
    <title>Karakter Manusia by raldi</title>
</head>
<body bgcolor="yellow">
    <div id="apps">
        
        <div class="container shadow p-3 mt-5 mb-5 bg-body rounded">
                <h4 class="mb-3"><b>Karakter Manusia By Raldi <i class="bi bi-emoji-laughing"></i></b> </h4>             
            <div class="input-group flex-nowrap mb-3">  
                
                <input v-model="nama" type="text" class="form-control" placeholder="kasih masuk ko nama mu" aria-label="Username" aria-describedby="addon-wrapping">
                
            </div>
            <div class="input-group mb-3">
                <select class="form-select" v-model="tanggalValue">
                    <option disabled selected>-- Tanggal Lahir mu --</option>
                    <option v-for="tg in tanggal" :value="tg">{{ tg }}</option>
                </select>
            </div>
            <template v-if="bulans === 1">
                <div class="input-group mb-3">
                    <select class="form-select" v-model="bulanValue">
                        <option disabled selected>-- Bulan Lahir mu --</option>
                        <option v-for="bln in bulan" :value="bln">{{ bln }}</option>
                    </select>
                </div>
            </template>

            <button type="submit" @click="sub"  class="btn btn-primary">cek disini</button>
            <button type="submit" @click="reload"  class="btn btn-danger">Ulang</button>
            <div class="text-center mt-3">
                <template v-if="nama.length > 0">
                    <h4> {{waktu}}, {{ nama }} </h4>
                </template> 
                <template v-else></template> 
            </div>
            <template v-if="sifat.length > 0 && watak.length > 0">
                <div class="mt-4">
                    <h4>ini mi sifatmu, baca mi </h4>
                    <p>" {{ sifat }} "</p>
                </div>
                <hr>
                <div class="mt-4">
                    <h4>ini mi watakmu, liat sendiri mi </h4>
                    <p>" {{ watak }} "</p>
                </div>
            </template>
            <template v-else></template>
        </div>
    </div>
</body>
<footer align="center">
    <a class="btInIsmynr1" href="https://raldifingerstyle.github.io/hitungan-hati/" title="Klik Disini" align="center">lanjut</a>
</footer>

<script src="js/Vue.js"></script>
<script src="js/script.js"></script>
</html>